# .gitignore - Fichiers a ne pas versionner

# Environnement Python
__pycache__/
*.pyc
venv/
.venv/
.env/
.sixth/

# Modele ML (trop gros pour Github)
models/*.pkl

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.env # Fichier d'environnement contenant des clés API et autres secrets, ne pas versionner